ion-toolbar{
  --background: #252736;

}
ion-label{
  margin: 5vw;
}
.space{
  height: 30px;
}
ion-item::part(native) {
  background: rgba(27, 214, 117, 0);
}
.input-cont{
  margin-right: 25px;
  margin-left: 25px;
}
