<ion-header>
  <ion-toolbar>
    <ion-title>Filtro film</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"> Chiudi </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="input-cont">
    <ion-item fill="solid">
      <ion-label position="floating">Ricerca</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="searchValue"
        [value]="searchValue"
      ></ion-input>
      <ion-note slot="helper">Inserisci il titolo di un film *</ion-note>
    </ion-item>
  </div>

  <div class="input-cont">
    <ion-item fill="solid">
      <ion-label position="floating">Anno Film</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="yearValue"
        [value]="yearValue"
      ></ion-input>
      <ion-note slot="helper">Inserisci l'anno del film</ion-note>
    </ion-item>
  </div>
  <div class="space"></div>
  <ion-label>Filtra per</ion-label>
  <ion-radio-group
    [allowEmptySelection]="false"
    value="turtles"
    [(ngModel)]="type"
  >
    <ion-item lines="none">
      <ion-label>Tutti</ion-label>
      <ion-radio slot="end" value="all" name="type"></ion-radio>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Film</ion-label>
      <ion-radio slot="end" value="movie" name="type"></ion-radio>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Serie</ion-label>
      <ion-radio slot="end" value="series" name="type"></ion-radio>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Episodi</ion-label>
      <ion-radio slot="end" value="episode" name="type"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="reserve-cont">
      <ion-button expand="block" (click)="done()">
        Fatto
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
