ion-button{
  margin: 2vw 5vw;
}
.main-container{
  height: 75vh;
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}
h4{
  margin: 2rem;
  text-align: center;
}
.space{
  height: 30px;
}
