<ion-content [fullscreen]="true">
  <app-maheader>
    <h1 class="title">{{title}}</h1>
  </app-maheader>
  <ion-button fill="clear" (click)="presentModal()">
    <ion-icon slot="icon-only" name="options"></ion-icon>
  </ion-button>
  <!-- <div class="spinner" *ngIf="show">
    <ion-spinner name="dots"></ion-spinner>
  </div> -->
  <div class="main-container">
    <h4 *ngIf="movies.length === 0">Nessun campo di ricerca, aggiungine uno</h4>
    <div *ngFor="let film of movies">
      <a [routerLink]="['/detail', film.imdbID]" style="text-decoration: none">
        <app-filter-movie-card [movie]="film"></app-filter-movie-card>
      </a>
    </div>

    <div></div>
  </div>
</ion-content>
