<ion-content [fullscreen]="true">
  <app-maheader>
    <h1 class="title">Ciao Manuel!</h1>
    <p class="sub-title">Noleggia il tuo film preferito!</p>
  </app-maheader>
  <div class="searchbar-container">
    <ion-searchbar
      placeholder="Search"
      mode="ios"
      clear-icon="close-circle-outline"
      [(ngModel)]="searchedValue"
      (ionChange)="onSearch()"
    ></ion-searchbar>
  </div>
  <div class="card-list-container">
    <ion-slides [options]="option">
      <ion-slide *ngFor="let movie of movies">
        <app-movie-card
          [movie]="movie"
          (click)="goToDetail(movie.imdbID)"
        ></app-movie-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
