<ion-content>
  <div class="general-cont" *ngIf="item !== {}">
    <div class="image-cont"><img [src]="item.Poster" alt="" srcset="" /></div>
  </div>
  <ion-button fill="clear" (click)="back()">
    <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
  </ion-button>
  <div class="score-row">
    <div class="chip">
      <p>IMDB {{item.imdbRating}}</p>
    </div>
    <div class="star-rating" *ngIf="!isNan">
      <ion-icon slot="icon-only" name="star-outline"></ion-icon>
      <p>{{item.Metascore/20}}</p>
    </div>
  </div>

  <div class="text-cont">
    <h2>{{item.Title}}</h2>
    <div class="genre-row">
      <div class="genre-chip" *ngFor="let item of genreArray"><p>{{item}}</p></div>
    </div>
  </div>
</ion-content>
